    body{
        font-family: 'Prompt', sans-serif;
        text-align: justify;
    }
    .word-color-change{
        color: orangered;
    }
    .button-design{
        background-image: linear-gradient(rgb(241, 147, 113),rgb(224, 12, 12));
        border-radius: 8px;
        text-align: center;
        padding: 5px 10px;
        height: 30px;
        width: 100px;
    }
    .picture{
        height: 210px;
        width: 205px;
    }
    #first-part{
        display: flex;
        background-color: rgba(241, 241, 241, 0.692);
        margin: 2px 1px 50px 1px;
    }
    #second-part{
        display: flex;
        margin: 2px 1px 50px 1px;
        background-image: url(Photo/About-frame.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .left{
        left: 10px;
        right: 60px;
        padding: 10px 40px 10px 25px;
    }
    .right{
        left: 60px;
        right: 30px;
        padding: 10px 25px 10px 25px;
    }
    .shadow{
        box-shadow: 5px 8px 5px 8px rgba(224, 222, 222, 0.726);
        border-radius: 20px;
        margin: 20px;
        text-align: justify;
        width: 25%;
        height: 50%;
        padding: 10px 15px;
    }
    #menu{
        display: flex;
        width: 100%;
    }
    .items-picture{
        height: 25%;
        width: 100%;
    }
    #footer-design{
        text-align:center;
        height: 80px;
        width: 100%;
        color: white;
        background-color: rgb(45, 45, 100);
    }
    #social-design{
        display: flex;
        box-shadow: 5px 8px 5px 8px rgba(233, 229, 233, 0.842);
        margin-top: 150px;
        margin-bottom: 50px;
    }
    .social{
        height: 60px;
        width: 60px;
        padding-left: 200px;

    }